VITE_DEFAULT_CHAIN=mainnet
VITE_STARKNET_RPC_URL=https://api.cartridge.gg/x/starknet/mainnet
VITE_CONTROLLER_RPC_URL=https://api.cartridge.gg/x/starknet/mainnet/rpc/v0_9
VITE_TORII_URL=https://api.cartridge.gg/x/abyss-mainnet/torii
VITE_SESSION_BUNDLE_ID=0
VITE_X_SHARE_BUNDLE_ID=1
VITE_CHIP_TOKEN_IMAGE_URL=https://abyssgame.fun/chip-token.svg
